.movieCard {
    width: 270px;
    background: #FDFDFD;
    border-radius: 9px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
}


.movieCard__image {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.movieCard__desc {
    display: flex;
    justify-content: space-between;
    padding: 14px 12px;
}

.movieCard__container {
    display: flex;
    gap: 10px;
    flex-direction: column; 
}

.movieCard__title {
    max-width: 290px;
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.movieCard__duration {
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    color: #A0A0A0;
}

.movieCard__btn {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-top: -6px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: opacity 0.25s;
}

.movieCard__btn:hover {
    opacity: 0.7;
}

.movieCard__btn_saved {
    background: url("../../images/buttonGreen.svg") no-repeat center;
}

.movieCard__btn_remove {
    background: url("../../images/buttonDelete.svg") no-repeat center;
}

.movieCard__btn_save {
    background: url("../../images/buttonWhite.svg") no-repeat center;
}

@media screen and (max-width: 890px) {
    .movieCard {
        max-width: 339px;
    }
}

@media screen and (max-width: 480px) {
    .movieCard {
        max-width: 300px;
    }
}