.promo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #DDDEE3;
    min-height: 524px;
    background-image: url(../../images/logo-promo.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.promo__header {
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    max-width: 740px;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: -2px;
    line-height: 58px;
}

@media screen and (max-width: 768px) {
    .promo {
        min-height: 784px;
    }

    .promo__header {
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 480px) {
    .promo {
        background-image: url(../../images/logo-promo_320.svg);
        min-height: 570px;
    }

    .promo__header {
        font-size: 31px;
        line-height: 39px;
        margin-bottom: 39px;
        letter-spacing: -1.24px;
    }
}